<% wrap_layout :layout do %>
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <a href="/">
      <img src="/images/logo.png" class="navbar-brand align-middle" width="30%">
    </a>
  </div>

  <article class="article">
    <%= yield %>
  </article>
<% end %>
